/* This file is part of the FlOpEDT/FlOpScheduler project.                  */
/* Copyright (c) 2017                                                       */
/* Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.              */
/*                                                                          */
/* This program is free software: you can redistribute it and/or modify     */
/* it under the terms of the GNU Affero General Public License as           */
/* published by the Free Software Foundation, either version 3 of the       */
/* License, or (at your option) any later version.                          */
/*                                                                          */
/* This program is distributed in the hope that it will be useful, but      */
/* WITHOUT ANY WARRANTY; without even the implied warranty of               */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU         */
/* Affero General Public License for more details.                          */
/*                                                                          */
/* You should have received a copy of the GNU Affero General Public         */
/* License along with this program. If not, see                             */
/* <http://www.gnu.org/licenses/>.                                          */
/*                                                                          */
/* You can be released from the requirements of the license by purchasing   */
/* a commercial license. Buying such a license is mandatory as soon as      */
/* you develop activities involving the FlOpEDT/FlOpScheduler software      */
/* without disclosing the source code of your own applications.             */

  section#content{
    height: 80vh;
  }

  .solver{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }

  .solver > * {
    border: 1pt black solid;
    padding: 10px;
    flex-basis: 15%;
    margin: 10px;
  }

  .solver > * div.header {
    display: flex;
    background-color: #7a7a7a;
    padding: 0.6em;
    color: white;
    margin-bottom: 1em;
    height: 20px; 
    vertical-align: baseline;
    justify-content: space-between;
    align-items: center;
  }

  .resolve{
    border: #bfb;
    border-radius: 4px;
    background: #7a7a7a;
    height: 16px;
  }

  .settings{
    flex-grow: 2;
  }

  .console{
    flex-grow: 2; 
    background-color: black; 
    color: white;
  }
  
  /*
    Constraints
  */

  #constraints{
    flex-grow: 2;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

#constraints_list{
  overflow: scroll;
  height: 100%;
}

#divAnalyse {
  overflow: hidden;
}

#settings {
  flex-grow: 2;
  padding: 1em;
  display: flex;
  flex-direction: column;
};


  /*
    Checkbox
  */

  input[type=checkbox] + label {
    display: inline-block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }

  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }

  input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }

  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }

  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

  .constraint{
    margin-bottom: 10px;
    border: #d3d3d3 2pt solid;
    padding: 5px;
    background-color: #ededed;
    border-radius: 4px;
  }

  .constraint > div{
    padding: 4px 4px 4px 28px;
  }

  .title{
    font-size: 15px;
  }

  .title:hover ~ .hiddable {
    display: block;
  }

  .comment{
    font-style: italic;
    font-size: 1em;
  }

  .mandatory{
    font-weight: 600;
  }

  .hidden, .hiddable{
    display: none;
  }

  .show{
    display: block;
  }

  .remarks{
    margin-bottom: 15px;
  }
