<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "base.html" %}

{% csrf_token %}

{% block title %} Statistics {% endblock %}
{% load i18n %}

{% block content %}

{% load static %}

<style type="text/css">
    #statistics{
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
    }
    #statistics select {
        margin: 20px auto;
    }

    #statistics table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 500px;
    }

    #statistics td,
    #statistics th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #statistics tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #statistics tr:hover {
        background-color: #ddd;
    }

    #statistics th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #878787;
        color: white;
    }
</style>

{% block script_variable %}

<link rel="stylesheet" href="{% static 'base/better.css' %}?2" />
<script src="{% static 'base/d3.v4.min.js' %}"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script>
    var statistics_urls = {
        room_activity: "{% url "base:room_activity" department %}",
        tutor_hours: "{% url "base:tutor_hours" department %}",
        group_hours: "{% url "base:group_hours" department %}",
    }
  var csrftoken = '{{ csrf_token }}';

  if(!jQuery.fn.jquery.startsWith("1")){
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
  }

</script>

{% endblock %}

<div id="statistics">
    <select id="select_statistic">
        <option default value="room_activity" selected> {% trans "Number of days of innocuousness per room" %}</option>
        <option value="tutor_hours">{% trans "Number of classes given per teacher" %}</option>
        <option value="group_hours">{% trans "Number of classes given per group" %}</option>
    </select>

    <select id="select_display_mode">
        <option value="tab">display as array</option>
        <option value="graph">display as graph</option>
        <option value="both" selected>display both mode</option>
    </select>

    <table></table>
</div>

<!--<div id="graphiqueBar_NbCours"></div>
<div id="graphiqueBar_NbDayInnocupied"></div>-->

<div id="graphique" style="width: 100%; height: 400px;"></div>

<!--<button id="sort_A-Z">sort a - z</button>
<button id="sort_Z-A">sort a - z</button>
<button id="sort_min-max">sort min - max</button>
<button id="sort_max-min">sort max - min</button>-->



{% block script_file %}

<script type='text/javascript' src="{% static 'base/statistics.js' %}"></script>
<script type="text/javascript">

    //for the graph to be display at first 
    display_graph();

    document.getElementById("select_statistic").addEventListener("change", display_graph, false);




</script>

{% endblock %}

{% endblock %}
